.store {
    margin-top: 75px;

    &-list {
        gap: 10px;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(5, 1fr);
    }
}