.card {
    border: 2px solid rgb(0, 190, 150);
    background-color: rgba(255,255,255);
    height: 420px;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &-article {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &-title {
        margin: 0;
        text-align: center;
        size: 10px;
    }

    &-description {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
            & p{
                margin: 0;
            }
            & div {
                width: 20px;
                height: 20px;
                border: 1px solid #ffdf69;
                border-radius: 50%;
            }
    }
}

.fav-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

