body {
    margin: 0;
    padding-bottom: 100px;
    background-image: url(/public/main.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}